<!-- FOOTER -->
<footer class="container footer">
  <div class="row">
    <div class="col-md-4">
      <ul>
        <li><a href="{{ .Site.BaseURL }}">{{ ( index $.Site.Data.translations $.Site.Params.locale ).home }}</a></li>
        <!--<li><a href="#">Company</a></li>
        <li><a href="#">Blog</a></li>-->
      </ul>
    </div>
    <div class="col-md-2 col-md-push-6">
      <p><a href="#home">{{ ( index $.Site.Data.translations $.Site.Params.locale ).top }}</a></p>
    </div>
    <div class="col-md-6 col-md-pull-2">
      <!--<p>&copy; 2016 <a href="#">AreYouIN.</a>  <a href="#">Terms</a> and <a href="#">Privacy Policy</a></p>-->
      <p>&copy; 2015-2016 AreYouIN&trade;
        <a href="{{ .Site.BaseURL }}legal/info/" rel="nofollow">{{ ( index $.Site.Data.translations $.Site.Params.locale ).legalNotice }}</a>
        {{ ( index $.Site.Data.translations $.Site.Params.locale ).and }}
        <a href="{{ .Site.BaseURL }}legal/cookies/" rel="nofollow">{{ ( index $.Site.Data.translations $.Site.Params.locale ).cookiesPolicy }}</a>
      </p>
    </div>
  </div>
</footer>

<!--Cookies -->
<div id="cookie1" class="container">
  <div class="row">
    <div class="col-sm-11">{{ ( index $.Site.Data.translations $.Site.Params.locale ).cookiesMsg | markdownify }}</div>
    <div class="col-sm-1">
      <a href="javascript:void(0)" onclick="acceptCookies()">{{ ( index $.Site.Data.translations $.Site.Params.locale ).cookiesAcceptButton }}</a>
    </div>
  </div>
</div>

<script type="text/javascript">
localStorage.controlcookie = (localStorage.controlcookie || 0);
if (localStorage.controlcookie == 0){
  cookie1.style.display='block';
}
</script>

{{ partial "analytics.html" . }}

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="/js/ie10-viewport-bug-workaround.js"></script>

</body>
</html>
