{{ partial "header.html" . }}
<!-- Parallax -->
<div class="container-fluid parallax">
  <div class="container">

    <div class="row">
      <div class="col-sm-6 col-sm-offset-1 description">
        <div class="row">
          <div class="col-sm-12">
            <h2>{{ ( index $.Site.Data.translations $.Site.Params.locale ).topSlogan }}</h2>
            <h5>{{ ( index $.Site.Data.translations $.Site.Params.locale ).topParagraph }}</h5>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6 download-google-play">
            <a href="{{ ( index $.Site.Data.translations $.Site.Params.locale ).googlePlayDownloadURL }}" onclick="trackOutboundLink('https://play.google.com/store/apps/details?id=es.peeple.areyouin'); return false;">
            <img alt="Get it on Google Play" src="images/google-play-badge.png" />
            </a>
          </div>

          <div class="col-xs-6 download-apple-store">
            <a href="{{ ( index $.Site.Data.translations $.Site.Params.locale ).itunesDownloadURL }}" onclick="trackOutboundLink('https://itunes.apple.com/es/app/areyouin-meet-your-friends/id1131326903'); return false;">
            <img alt="Download on the App Store" src="images/apple-store-badge.png" />
            </a>
          </div>
        </div>
      </div>

      <div class="col-sm-5 phone">
        <img class="phone" src="images/nexus5xflat.png" />
      </div>
    </div>
  </div>
</div>

<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->
<a name="features"></a>
<div class="container marketing">
  <div class="row">
    <div class="col-sm-4">

      <img src="images/events.png" alt="Generic placeholder image" width="140" height="140">
      <h2>{{ ( index $.Site.Data.translations $.Site.Params.locale ).markEventsTitle}}</h2>
      <p>{{ ( index $.Site.Data.translations $.Site.Params.locale ).markEventsBody}}</p>
    </div><!-- /.col-lg-4 -->
    <div class="col-sm-4">
      <img src="images/friends.png" alt="Generic placeholder image" width="140" height="140">
      <h2>{{ ( index $.Site.Data.translations $.Site.Params.locale ).markFriendsTitle}}</h2>
      <p>{{ ( index $.Site.Data.translations $.Site.Params.locale ).markFriendsBody}}</p>
    </div><!-- /.col-lg-4 -->
    <div class="col-sm-4">
      <img src="images/security.png" alt="Generic placeholder image" width="140" height="140">
      <h2>{{ ( index $.Site.Data.translations $.Site.Params.locale ).markSecurityTitle}}</h2>
      <p>{{ ( index $.Site.Data.translations $.Site.Params.locale ).markSecurityBody}}</p>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->
</div><!-- /.container -->

<!-- FEATURETTE -->
<div class="container-fluid featurette">

  <div class="container">

    <div class="featurette-divider"></div>

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">{{ ( index $.Site.Data.translations $.Site.Params.locale ).featureOneTitle }}
        <span class="text-muted">{{ ( index $.Site.Data.translations $.Site.Params.locale ).featureOneSubtitle }}</span></h2>
        <p class="lead">{{ ( index $.Site.Data.translations $.Site.Params.locale ).featureOneBody }}</p>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-responsive center-block" src="images/publish_event.jpg" alt="Generic placeholder image">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 col-md-push-5">
        <h2 class="featurette-heading">{{ ( index $.Site.Data.translations $.Site.Params.locale ).featureTwoTitle }}
        <span class="text-muted">{{ ( index $.Site.Data.translations $.Site.Params.locale ).featureTwoSubtitle}}</span></h2>
        <p class="lead">{{ ( index $.Site.Data.translations $.Site.Params.locale ).featureTwoBody }}</p>
      </div>
      <div class="col-md-5 col-md-pull-7">
        <img class="featurette-image img-responsive center-block" src="images/invite_friends.jpg" alt="Generic placeholder image">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">{{ ( index $.Site.Data.translations $.Site.Params.locale ).featureThreeTitle }}
        <span class="text-muted">{{ ( index $.Site.Data.translations $.Site.Params.locale ).featureThreeSubtitle }}</span></h2>
        <!--<p class="lead">¿No sabes qué hacer mañana? Echa un vistazo a tu lista de eventos y elige el plan que más te guste.
        Diviértete con tus amigos y conoce gente nueva realizando tu actividad favorita. Con AreYouIN podrás ver los eventos
        que organizan tus amigos, además de los eventos que otras personas organizan en tu ciudad.</p>-->
        <p class="lead">{{ ( index $.Site.Data.translations $.Site.Params.locale ).featureThreeBody }}</p>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-responsive center-block" src="images/events_list.jpg" alt="Generic placeholder image">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 col-md-push-5">
        <h2 class="featurette-heading">{{ ( index $.Site.Data.translations $.Site.Params.locale ).featureFourTitle }}
        <span class="text-muted">{{ ( index $.Site.Data.translations $.Site.Params.locale ).featureFourSubtitle}}</span></h2>
        <p class="lead">{{ ( index $.Site.Data.translations $.Site.Params.locale ).featureFourBody }}</p>
      </div>
      <div class="col-md-5 col-md-pull-7">
        <img class="featurette-image img-responsive center-block" src="images/groups.jpg" alt="Generic placeholder image">
      </div>
    </div>

    <div class="featurette-divider"></div>

  </div> <!-- END CONTAINER -->

</div> <!-- END FLUID CONTAINER -->

<div class="container-fluid download">
  <div class="container">
    <!-- Get AreYouIN -->
    <div class="row">
      <div class="col-md-12">
        <a name="download"></a>
        <h2>{{ ( index $.Site.Data.translations $.Site.Params.locale ).bottomSlogan }}</h2>
        <h5>
          {{ ( index $.Site.Data.translations $.Site.Params.locale ).bottomParagraph}}<br/>
          {{ ( index $.Site.Data.translations $.Site.Params.locale ).bottomAvailable}}
        </h5>
      </div>
    </div>
    <!-- Download buttons -->
    <div class="row">
      <!-- Google Play -->
      <div class="col-xs-6 download-google-play">
        <a href="{{ ( index $.Site.Data.translations $.Site.Params.locale ).googlePlayDownloadURL }}" onclick="trackOutboundLink('https://play.google.com/store/apps/details?id=es.peeple.areyouin'); return false;">
        <img alt="Get it on Google Play" src="images/google-play-badge.png" />
        </a>
      </div>
      <!-- Apple Store -->
      <div class="col-xs-6 download-apple-store">
        <a href="{{ ( index $.Site.Data.translations $.Site.Params.locale ).itunesDownloadURL }}" onclick="trackOutboundLink('https://itunes.apple.com/es/app/areyouin-meet-your-friends/id1131326903'); return false;">
        <img alt="Download on the App Store" src="images/apple-store-badge.png" />
        </a>
      </div>
    </div>
  </div> <!-- End container -->
</div> <!-- End container fluid -->
{{ partial "footer.html" . }}
