body {
  min-width: 320px;
  background: #fafafa;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
}

.text-muted {
  color: #FF4081;
}

.navbar {
  margin-bottom: 0px;
  border: 0px;
}

.navbar-brand {
  color: #fff;
  font-size: 28px;
  text-shadow: none;
}

a, a:hover {
  color: #FF4081;
}

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}

.navbar-nav > li > a {
  color: #fff;
  font-size: 16px;
  text-shadow: none;
}

.nav > li > a:hover {
  /*color: #fff;*/
  color: #FF4081;
  background-color: #B2DFDB;
}

.nav > li > a:focus {
  background-color: none;
}

.toolbar {
  height: 72px;
  background-color: #009688;
}

.toolbar-actions {
  float: right;
}

.center {
  text-align: center;
}

.parallax {
  background-color: #009688;
  color: #FFF;
}

div.download {
  padding: 100px 50px 100px 50px;
  background-color: #009688;
  color: #FFF;
  text-align: center;
}

.description h2,
.download h2 {
  text-shadow: 0 1px 5px rgba(0,0,0,0.2);
  font-weight: 200;
  font-size: 40px;
  margin: 30px 0 15px;
}

.download h2 {
  font-weight: 400;
}

.description h5,
.download h5 {
  text-shadow: 0 1px 5px rgba(0,0,0,0.5);
  line-height: 1.4;
  font-weight: 400;
  font-size: 18px;
  -webkit-margin-before: 1.67em;
  -webkit-margin-after: 1.67em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

* {
  -webkit-font-smoothing: antialiased;
}

.download-google-play {
  text-align: right;
}

.download-google-play img:hover {
  border-color: #FF4081;
}

.download-google-play img {
  width: auto;
  height: 50px;
  background-color: #000;
  border: 2px solid #000;
  border-radius: 8px;
}

.download-apple-store {
  text-align: left;
}

.download-apple-store img {
  width: auto;
  height: 50px;
  background-color: #000;
  border: 2px solid #000;
  border-radius: 8px;
}

.download-apple-store img:hover {
  border-color: #FF4081;
}

.asp_text {
    -webkit-font-smoothing: antialiased;
}

.footer {
  padding: 50px;
}

.footer ul {
  display: block;
  padding: 10px 0px 10px 0px;
  margin: 0;
}

.footer ul > li {
  display: inline-block;
  list-style: none;
}

.footer li {
  margin: 0;
  font-size: 18px;
}

.footer li + li {
  margin: 0;
  padding: 0px 0px 0px 30px;
  font-size: 18px;
}

.footer p {
  margin: 0;
  padding: 10px 0px 10px 0px;
  font-size: 16px;
}

@media (max-width: 446px) {

  .description h2 {
    font-size: 30px;
    margin: 30px 0 15px;
  }

  .description h5 {
    line-height: 1.4;
    font-size: 15px;
  }

  .download-google-play {
    text-align: right;
  }

  .download-google-play img {
    width: 100%;
    height: auto;
  }

  .download-apple-store {
    text-align: left;
  }

  .download-apple-store img {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 767px) {

  .parallax {
    height: 100%;
    margin-bottom: 24px;
    overflow-y: hidden;
  }

  .parallax div.description {
    margin-top: 35px;
  }

  .parallax div.phone {
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
  }

  .parallax img.phone {
    height: auto;
    width: 65%;
  }
}

@media (min-width: 768px) {
  .parallax {
    height: 630px;
    margin-bottom: 24px;
    overflow-y: hidden;
  }

  .parallax div.description {
    margin-top: 100px;
  }

  .parallax div.phone {
    margin-top: 85px;
    text-align: center;
  }

  .parallax img.phone {
    height: auto;
    width: 85%;
  }

  .download-google-play {
    margin-top: 10px;
  }

  .download-apple-store {
    margin-top: 10px;
  }
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  .featurette-heading {
    font-size: 45px;
  }
}

@media (min-width: 992px) {

  .parallax div.description {
    margin-top: 175px;
  }

  .parallax div.phone {
    margin-top: 115px;
    text-align: center;
  }

  .parallax img.phone {
    height: auto;
    width: 366px;
  }

  .featurette-heading {
    margin-top: 120px;
  }
}

.ayi-brand {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.marketing .col-sm-4 {
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-sm-4 p {
  margin-right: 10px;
  margin-left: 10px;
}

.link_anchor {
  -webkit-transition: all 0.5s ease;
}

/* Featurettes
------------------------- */
.featurette {
  background-color: #f3f4f5;
}

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 400;
  line-height: 1;
  letter-spacing: -1px;
}
